section {
    width: 100%;
    height: 100vh;
    background: url(/answer/hristianskie.webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-color: rgb(94, 93, 92);
    display: flex;
    justify-content: center;
    align-items: center;
}

.card__container {
    background-color: rgba(155, 133, 101, 0.933);
    border: 1px solid rgba(94, 93, 92, 0.986);
    text-align: center;
    width: 310px;
    margin: 0 auto;
    color: rgb(247, 252, 178);
    padding: 10px;
    border-radius: 10%;
}

.card__h2 {
    font-weight: 500;
}

.card__p {
    font-size: 20px;
}

a {
    color:rgb(233, 239, 151);
}

a:hover {
    color:rgb(143, 153, 76);
}

button {
    font-family: 'Lato';
    color: rgb(247, 252, 178);
    padding: 15px;
    background-color:rgb(103, 110, 59);
    border: none;
    outline: none;
    font-weight: 800;
    border-radius: 10px;
    text-transform: uppercase;
}

button:hover {
    background-color: rgb(143, 153, 76);
    border: 0.5px solid rgb(103, 110, 59);
}